/**********************************CSS CODE FOR THE LEFT COLUMN****************************************/
.filter-box {
}

/**********************************CSS CODE FOR THE RIGHT COLUMN****************************************/
.main-columns {
    width: 99%;
}

.marginTop {
    margin-top: 50px;
    background: #f7f9ff;
}



/* Create two equal columns that floats next to each other */
.left-column {
    float: left;
    width: 15%;
    margin-left: 2%;
}

.right-column {
    float: left;
    width: 78%;
    margin-right: 2%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .left-column {
        width: 100%;
    }

    .right-column {
        width: 100%;
    }
}

.card-box {
    height: 450px;
    width: 200px;
    margin-bottom: 1%;
}
.card-box:hover {
    transform: translate(0px,-10px);
    transition: 1s;
}
.card-body {
    background: #dcecf2;
    
}
.card-footer {
    background: #dcecf2;
    border-radius: 0px 0px 7px 7px;
}
.card-img-top {
    border-radius: 7px 7px 0px 0px;
}

.room-category {
    color: #540a2a;
    font-weight: bold;
    margin-left: 3%;
    font-size: 12px;
    cursor: pointer;
}
.room-category:hover {
    color: #0a9ea3;
}
.card-title {
    color: black;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.card-title:hover {
    color: #0a9ea3;
}
.card-text {
    font-size: 12px;
    font-family: Andale Mono, monospace;
}

.room-price {
    font-weight: bold;
    font-size: 15px;
    color: #031a5e;
    margin-left: 3%;
}

.checked {
    color: orange;
}

.ratings {
    position: absolute;
    right: 0;
    margin-right: 5%;
    font-size: 15px;
    cursor: pointer;
}

.heart-rate {
    position: absolute;
    right: 0;
    margin-right: 7%;
}

.glyphicon-heart {
    font-size: 25px;
    cursor: pointer;
}
.glyphicon-heart:hover {
    color: red;
}


.truncate {
    /**Major Properties**/
    overflow: hidden;
    line-height: 1.5rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    -webkit-line-clamp: 4;
}
