@page "/userproperties"
@using RealbnbBeta.Models
@using RealbnbBeta.Service
@inject IbnbService bnbservice
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor currentUser


<div class="main-columns marginTop">
    <div class="row">
        <div class="left-column">
            <!--Left Column content begins-->

            <button class="btn btn-success"><NavLink class="nav-link" href="create">Add Property</NavLink></button>

        </div><!--Left Column content ends-->
        @if (objbnb == null)
        {
            <div class="spinner-border text-primary" role="status"></div>
        }
        else
        {
            <div class="right-column">
                <!--Right Column content begins-->
                <div class="card-deck">

                    @foreach (var list in objbnb)
                    {
                        <div class="card-box col-lg-4">
                            <img class="card-img-top" src="@convertImage(list.Imagebnb)" alt="Card image cap" style="height:50%; width: 100%;">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="room-category">@list.Category</h5>
                                    <!--Ratings-->
                                    <div class="ratings">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <!--/Ratings-->
                                </div>
                                <h5 class="card-title">@list.Name</h5>
                                <p class="card-text truncate">@list.Description</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <small class="room-price">$@list.Price</small>
                                    <div class="heart-rate"><span class="glyphicon glyphicon-heart .checked-heart"></span></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!--Right Column content ends-->
            </div>
        }
    </div>
</div>

@code {

    /*For the current user*/
    public string UserName;

    string imgsrc = "";
    List<bnbProperties> objbnb;

    protected override void OnInitialized()
    {
        UserName = currentUser.HttpContext.User.Identity.Name;
        objbnb = bnbservice.GetProperties2(UserName);
    }
    string convertImage(byte[] image)
    {
        if (image != null)
        {
            var ky = Convert.ToBase64String(image);
            var cy = string.Format("data:image/jpg;base64, {0}", ky);
            return cy;
        }
        return "";
    }

}

