<div class="topnav">
    <div class="row">
        <a class="navbar-brand" href="/">Realbnb</a>
        <div class="search-container">
            <form>
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="user-logins">
            <AuthorizeView>
                <Authorized>
                    <a class="btn btn-class" href="/userproperties">My Properties</a>
                </Authorized>
            </AuthorizeView>
            <button class="btn btn-class"><LoginDisplay /></button>
        </div>
    </div>
</div>
